<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.InsureMe"
        tools:targetApi="31">
        <activity
            android:name=".Views.splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity android:name=".InsuranceAdapter"/>

        <activity android:name=".Views.LoginActivity"/>
        <activity android:name=".Views.UserLoginActivity"/>
    <activity android:name=".Views.Select_Insurance"/>
<activity android:name=".Views.Carinsuranceuserdetails"/>
        <activity android:name=".Views.adminhome"/>
        <activity android:name=".Views.Carinsuranceuserdetails1"/>
        <activity android:name=".Views.Carinsuranceuserdetails2"/>
        <activity android:name=".Views.SignUpActivity"/>
        <activity android:name=".Views.car_userdetails2"/>
        <activity android:name=".Views.healthinsuranceuserdetails"/>
        <activity android:name=".Views.healthinsuranceuserdetails1"/>
        <activity android:name=".Views.healthinsuranceuserdetails2"/>
        <activity android:name=".Views.healthinsuranceuserdetails3"/>
        <activity android:name=".Views.healthinsuranceuserdetails4"/>
        <activity android:name=".InsuranceActivityNew"/>
        <activity android:name=".HealthInsuranceActivityNew"/>
        <activity android:name=".Views.addNewInsurance"/>
        <activity android:name=".pushInsurance"/>
        <activity android:name=".Views.adminLogin"/>
        <activity android:name=".pushHealthInsurance"/>
        <activity android:name=".ChooseAddInsuranceType"/>
        <activity android:name=".Views.standard_packageinsurancepage"/>
        <activity android:name=".InsuranceActivityDelete"/>
        <activity android:name=".HealthInsuranceActivityDelete"/>
        <!--        <activity android:name=".healthinsuranceuserdetails5"/>-->
<!--        <activity android:name=".User_Login"/>-->

    </application>

</manifest>